    h1 {
        font-size: 100px;
    }

    #wrapper {
        /* background: linear-gradient(red, blue);

    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7zDMYnGheNT1l7pEW3R5N3Uf4--yCjRprCG9W5WQ58g&s=10);
    background-repeat: no-repeat;
    height: 1000px;
    background-position: center;
    background-size: 200px;
    background-image: url(prince.jpg); */



        border: 10px solid rgb(8, 55, 96);
        border: 1px solid red;
        padding: 40px 40px 40px 40px;


        /* height: 500px; */
        #hii {
            border: 1px solid red;
            text-align: center;
            width: auto
        }

        #hiii {
            border: 1px solid red;
            width: 100px;
            margin:auto
        }

    }
