/* .yuyu-regular {
    font-family: "Yuyu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3
{
    font-family: "yuyu";
} */
/* p{
    font-variant: small-caps;
} */
/* p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 900;
    font-style: italic;
    letter-spacing: initial;
    word-spacing: 10px;
} */
p {
    text-align: end;
    border: 1px solid red;
}

span {
    text-align: center;
    border: 1px solid red;
}

*
{
    background-color: cadetblue;
}
h1
{
    text-shadow :10px 10px 7px ;
    te
}
