* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
display: flex;
border: 7px solid red;

flex-direction: row;
height: 100vh;
justify-content:start ;
align-items: center;
gap: 10px;
flex-wrap: wrap;
padding: ;
}

.item {
    width: 100px;
    height: 100px;
    background-color: chocolate;
    border: 1px solid black;

}
